.first-container-parallax {
  height: 695pt;
  .first-img {
		height: 500pt;
	}
}
.first-container {
	
	.first-text-block {
		width: 60%;
		h2 {
			font-size: 3.50rem;
		}
		p {
			font-size: 1.75rem;
		}
	}
}