.first-container-parallax {
  height: 760pt;
  .first-img {
		height: 550pt;
	}
}
.first-container {
	
	.first-text-block {
		width: 51%;
	}
}
.second-container-parallax {
	height: 550pt;
}
.second-container {
	.p1-text-block, .p2-text-block {
		width: 35%; 
	}
}
.third-container-parallax {
	height: 620pt;
	.contact-form-block {
		width: 30%;
	}
}