
.first-container-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("cold-forest.jpg");
  height: 500pt; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .first-img {
		height: 250pt;
		width: auto;
	}
}
.first-container {
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
	height: auto;
	.first-text-block {
		background-color: #fff;
		border-radius: 10pt;
		padding: 10pt;
		margin: 20pt 0 20pt 0;
		height: 300pt;
		width: 85%;
		h2 {
			font-family: 'Poppins', sans-serif;
		}
		p {
			font-family: 'Poppins', sans-serif;
			color: #a6a6a6;
			line-height: 1.35;
		}
	}
}
.second-container-parallax {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("summer.jpg");
    height: 300pt; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	height: auto;
	.p1-text-block, .p2-text-block {
		background-color: #fff;
		border-radius: 10pt;
		padding: 10pt;
		margin: 20pt 0 20pt 0;
		height: 250pt;
		width: 85%;
		h3 {
			font-family: 'Poppins', sans-serif;
		}
		p {
			font-family: 'Poppins', sans-serif;
			color: #a6a6a6;
			line-height: 1.35;
		}
	}
}
.third-container-parallax {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("sattelit-contact.jpg");
    height: 300pt; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .contact-form-block {
    	display: flex!important;
    	flex-direction: column!important;
    	flex-wrap: wrap;
    	align-items: center;
    	background-color: #fff;
    	width: 85%;
    	#wpforms-form-35 {
			display: flex;
    		flex-direction: column;
    	}
    	#wpforms-35-field_1-container {
    		display: flex;
    		flex-direction: column;
    	}
    	#wpforms-35-field_3-container {
    		display: flex;
    		flex-direction: column;
    	}
    	#wpforms-35-field_2-container {
    		display: flex;
    		flex-direction: column;
    	}
    	.wpforms-field .wpforms-field-hp {
    		display: none!important;
    	}
    }
}
